
/* 背景板 */
html {
    background-color: #fff;
    overflow-y: scroll;
    font: 300 1em/1.8 "Segoe UI","Lucida Grande",Helvetica,Arial,"Microsoft YaHei",FreeSans,Arimo,"Droid Sans","wenquanyi micro hei","Hiragino Sans GB","Hiragino Sans GB W3",FontAwesome,sans-serif;
}

/** pure grid css hack */
.pure-g [class *= "pure-u"] {
    font: 300 1em/1.8 "Segoe UI","Lucida Grande",Helvetica,Arial,"Microsoft YaHei",FreeSans,Arimo,"Droid Sans","wenquanyi micro hei","Hiragino Sans GB","Hiragino Sans GB W3",FontAwesome,sans-serif;
}


/* 容器 */
.ic-container {
    max-width: 800px !important;
    margin-left: auto;
    margin-right: auto;
    /* space for mobile devices */
    padding-left: 10px;
    padding-right: 10px;
}

a {
    color: #337ab7;
    text-decoration: none;
}

a:hover {
    color: #286090;
}
