
/* 背景板 */
html {
    background-color: #fff;
    overflow-y: scroll;
    font: 300 1em/1.8 "Segoe UI","Lucida Grande",Helvetica,Arial,"Microsoft YaHei",FreeSans,Arimo,"Droid Sans","wenquanyi micro hei","Hiragino Sans GB","Hiragino Sans GB W3",FontAwesome,sans-serif;
}

/** pure grid css hack */
.pure-g [class *= "pure-u"] {
    font: 300 1em/1.8 "Segoe UI","Lucida Grande",Helvetica,Arial,"Microsoft YaHei",FreeSans,Arimo,"Droid Sans","wenquanyi micro hei","Hiragino Sans GB","Hiragino Sans GB W3",FontAwesome,sans-serif;
}


/* 容器 */
.ic-container {
    max-width: 1000px !important;
    margin-left: auto;
    margin-right: auto;
    /* space for mobile devices */
    padding-left: 10px;
    padding-right: 10px;
}

a {
    color: #337ab7;
    text-decoration: none;
}

a:hover {
    color: #286090;
}

.comment-info {
    line-height: 30px;
    position: relative;
    margin-bottom: 10px;
}

.comment-info-title {
    display: inline;
    font-weight: 700;
    background: #fff;
    padding-right: 20px;
}

.comment-info-line {
    z-index: -1;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    height: 1px;
    color: #eee;
    background: currentColor;
}

.comment-page-btn {
    width: 32px;
    height: 32px;
    font-size: 15px;
    line-height: 32px;
    margin: 0 8px;
    padding: 3px;
    text-align: center;
}

.ic-comment-meta {
    text-align: right;
}

.divider-line {
    border-bottom: #EBF2F6 1px solid;
    width: 50%;
}

/* 分页 */
.ic-pages {
    display: flex;
    padding-left: 0px;
    list-style-type: none;
}

.ic-pages > li > a {
    margin: 0.1em 0.1em 0 0;
    border: 1px solid #eee;
    padding: 0.4em 0.65em 0.4em 0.65em;
}

.ic-pages > li > a.active {
    background-color: #0078e7;
    color: #fff;
}

.ic-pages > li > a.slim {
    padding-left: 0.4em;
    padding-right: 0.4em;
    font-weight: bold;
}

.ic-pages > li > a.disable {
    color: #aaa;
}

/* ==========================================================================
   Component: Close
 ============================================================================ */
.am-close {
    display: inline-block;
    text-align: center;
    width: 24px;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.am-close:hover,
.am-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .5;
    outline: none;
}
.am-close[class*="am-icon-"] {
    font-size: 16px;
}
button.am-close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    /* Needed for Sarari */
    border: 0;
    -webkit-appearance: none;
}
a.am-close:hover {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
/* Modifiers
 ============================================================================ */
.am-close-alt {
    border-radius: 50%;
    background: #eee;
    opacity: 0.7;
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
                    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
    /* Hover */
}
.am-close-alt:hover,
.am-close-alt:focus {
    opacity: 1;
}
.am-close-spin:hover {
    -webkit-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
                    transform: rotate(360deg);
}
/* ==========================================================================
   Component: Alert Plugin
 ============================================================================ */
.am-alert {
    margin-bottom: 1em;
    padding: 0.625em;
    background: #0e90d2;
    color: #fff;
    border: 1px solid #0c7cb5;
    border-radius: 0;
}
.am-alert a {
    color: #fff;
}
.am-alert h1,
.am-alert h2,
.am-alert h3,
.am-alert h4,
.am-alert h5,
.am-alert h6 {
    color: inherit;
}
.am-alert .am-close {
    opacity: .4;
}
.am-alert .am-close:hover {
    opacity: .6;
}
/* Add margin if adjacent element */
* + .am-alert {
    margin-top: 1em;
}
/* Remove margin from the last-child */
.am-alert > :last-child {
    margin-bottom: 0;
}
/* within am-form-group */
.am-form-group .am-alert {
    margin: 5px 0 0;
    padding: 0.25em 0.625em;
    font-size: 1.3rem;
}
/* Close in alert */
.am-alert > .am-close:first-child {
    float: right;
    height: auto;
    margin: -3px -5px auto auto;
}
/* Remove margin from adjacent element */
.am-alert > .am-close:first-child + * {
    margin-top: 0;
}
.am-alert-secondary {
    background-color: #eeeeee;
    border-color: #dfdfdf;
    color: #555555;
}
.am-alert-success {
    background-color: #5eb95e;
    border-color: #4bad4b;
    color: #fff;
}
.am-alert-warning {
    background-color: #F37B1D;
    border-color: #e56c0c;
    color: #fff;
}
.am-alert-danger {
    background-color: #dd514c;
    border-color: #d83832;
    color: #fff;
}
